BattleZone/Assets/Standard Assets/*
BattleZone/Assets/Standard Assets.meta
BattleZone/Library/*
BattleZone/Temp/*
BattleZone/Library/assetDatabase3
BattleZone/Library/InspectorExpandedItems.asset
BattleZone/Library/shadercompiler-UnityShaderCompiler.exe0.log